<!DOCTYPE html>


<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body onload="listener()">

    <div class="page">
        <div class="welcomeContent">
            <img src="images/dictionary.png" class="icon" alt="icon" width="85" height="69">
            
            <h1>Welcome to Fictionary</h1>
            <h3 class="word-text">gib·ber·ish</h3>
            <h4 class="def-text">unintelligible or meaningless speech or writing; nonsense.</h5>
            <input type="text" maxlength="32" id="word" placeholder="Enter a word"/>
        </div>
        <div class="results">
            <h1 id="word-display" class="word-text"></h1>

            <h3 id="def-display" class="def-text"></h3>
        </div>

        <div class="buttons" id="buttons-div" style="opacity: 0">
            <a class="twitter-share-button button" id='twitterbtn'
            href="https://twitter.com/intent/tweet?text=Come%20define%20your%20own%20words%21"
            data-size="large">
                Tweet
            </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <a id="merch-btn-display" href="/" class="button merch-btn">Get this on a mug!</a>
        </div>
    </div>

    <script>
        function sendPost(textbox) {
            let text = textbox.value;
            if (text.length < 1)
                return
                
            textbox.value='';
            let wd = document.getElementById('word-display');
            let dd = document.getElementById('def-display');
            let buttondiv = document.getElementById('buttons-div');
            buttondiv.style.opacity = '0';
            buttondiv.style.visibility = 'hidden';
            dd.style.opacity = '0';
            wd.style.opacity = '0';

            wd.innerText=text;
            wd.style.opacity = '1';
            console.log(text);

            const post_url = "http://hackathon.chrisdaw.net:8000/word";
            const config = {
                headers: {
                    'Content-Type': "application/json"
                }
            }
            const data = {
                    word: text
                }
            axios.post(
                post_url, 
                data,
                config
            )
            .then(
                data=>{
                    let def = data['data']['definition'];
                    dd.innerText = def;
                    dd.style.opacity = '1';

                    /* Enable merch button */
                    let str = wd.innerText + "\n" + dd.innerText;
                    let tweet = truncateString(str, 239);
                    str = encodeURIComponent(str);
                    tweet = encodeURIComponent(tweet);
                    const muglink = `https://www.zazzle.com/fictionary_mug-168563178968739930?t_text_txt=${str}&ed=True&r=3856612`
            
                    let merchBtn = document.getElementById('merch-btn-display');
                    merchBtn.setAttribute("href", muglink);

                    let twitterBtn = document.getElementById('twitter-widget-0');
                    let twitterlink = `https://twitter.com/intent/tweet?text=${tweet}`;
                    twitterBtn.setAttribute("href", twitterlink);
                    console.log(twitterlink);

                    /* Show all buttons */
                    buttondiv.style.opacity = '1';
                    buttondiv.style.visibility = 'visible';
                })
            .catch(err=>console.log(err))
        }

        
        function truncateString(str, num) {
            if (str.length <= num) {
                return str;
            }
            return str.slice(0, num) + '...';
        }


        function listener() {
            let textbox = document.getElementById("word");
            textbox.onkeyup = function(e) {
                if (e.keyCode == 13) {
                    sendPost(textbox);
                    let dd = document.getElementById('def-display');
                    dd.innerText='';
                }
            }
        }

        
    </script>
    </body>
</html>
